<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>HTMX Examples</title>
    <script src="https://unpkg.com/htmx.org@1.9.6"
            integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni"
            crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/remove-me.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        .my-indicator {
            opacity: 0
        }

        .htmx-request.my-indicator {
            opacity: 0.7;
        }
    </style>

</head>
<body class="bg-gray-100 text-center">
<div class="absolute top-0 right-0 gap-3 flex flex-col m-2" id="alerts" hx-ext="remove-me"></div>
<div class="p-12">
    <button class="p-2 rounded bg-blue-500 text-white border border-black overflow-hidden"
            hx-get="https://api-magnus.htmx.link/error?success=true" hx-target="#results">
        Click me for success
    </button>
    <button class="p-2 rounded bg-red-500 text-white border border-black overflow-hidden"
            hx-get="https://api-magnus.htmx.link/error?success=false" hx-target="#results">
        Click me for error
    </button>
    <div id="results" class="border-2 border-black my-12 w-96 mx-auto rounded-xl overflow-hidden">
        <div class="bg-white p-8">
            Press above 👆
        </div>
    </div>
</div>
<div class="mt-20">
    <div hx-get="./push.html" hx-push-url="true" hx-target="body">
        Test push action
    </div>
</div>
</body>
</html>